
@{
    ViewData["Title"] = "Registration Form";
}
<h2>@ViewData["Title"]</h2>
<p>@ViewData["Message"]</p>
<form>
    E-Mail: <br />
    <input type="email" name="E-Mail Address" /><br />
    Password: <br />
    <input type="password" name="Password" /><br />
    First Name:  <br />
    <input type="text" name="First Name" /><br />
    Last Name: <br />
    <input type="text" name="Last Name" /><br />
    Male <input type="radio" name="Gender" value="Male" />
    Female <input type="radio" name="Gender" value="Female" /><br />
    <br /><input type="submit" name="Submit" />
</form>